@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

@keyframes background-scroll {
    00%{background-position: 0% 50%}
    50%{background-position: 100% 50%}
    100%{background-position: 0% 50%}
}

html,body {
    height: 100%;
    width: 100%;
}

.outer-container {
    width: 100%;
    min-height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    background: rgba(223, 34, 34, 0.918);
    transition:all 1.4s ease;
}
.heading-container {
    position: absolute;
    width: 100%;
    top: 0;
    color: white;
    font-family: 'Roboto Condensed';
    padding: 1.2rem 1.75rem;
    font-size: 26px;
    text-shadow: 0px 0px 10px rgb(21, 23, 31);
}
#loadingbutton{
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
}
.lock-status-container {
    width: 100%;
    text-align: center;
    color: white;
    font-family: 'Roboto Condensed';
    font-weight: 700;
    text-shadow: 0px 0px 10px rgb(68, 63, 63);
    margin-bottom: 40px;
}
.lock-status-container img {
    max-width: 40%;
    margin-bottom: 10px;
}

.bottom-nav-container{
    position: absolute;
    width: 100%;
    top: calc(100% - 55px);
    background-color: white;
    box-shadow: 0px 0px 8px 1px rgb(90, 88, 88);
}
.bottom-nav-row {
    margin: 0px 10px;
    display: flex;
    align-items: center;
    height: 55px;
}
.bottom-nav-row a {
    text-align: center;
}
.bottom-nav-row a:hover {
    text-decoration: none;
}
.bottom-nav-row a img {
    height: 20px;
    opacity: 0.8;
}
.bottom-nav-desciption {
    color: grey;
    font-size: 12px;
}
.generate-otp-box {
    padding: 40px 0px;
    color: rgb(63, 62, 62);
}

.top-nav-container{
    position: absolute;
    top: 10px;
    width: 100%;
}
.navbar {
    text-align: right;
    display: block;
}
.navbar-collapse {
    background-color: white;
    border-radius: 10px;
    padding: 14px 13px 13px 13px;
    box-shadow: 0px 0px 4px 1px rgb(104, 103, 103);
}
.navbar-collapse>.row{
    display: flex;
    width: 100%;
    align-items: center;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}