@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

@keyframes background-scroll {
    00%{background-position: 0% 50%}
    50%{background-position: 100% 50%}
    100%{background-position: 0% 50%}
}

html,body {
    width: 100%;
    min-height: 100%;
    overflow: auto;
}

body {
    background: linear-gradient(45deg,rgb(47, 108, 221), rgb(15, 150, 228), rgb(17, 131, 197),rgb(47, 108, 221) ,rgb(18, 206, 212));
    background-size: 400%;
    background-position: left;
    animation: background-scroll 14s ease infinite;
}
.secondary-outer-container {
    position: relative;
    display: flex;
    width: 100%;
    min-height: 100%;
    padding: 130px 0px 0px 0px;
}
.content-container{
    position: absolute;
    width: 100%;
    top: 10px;
}
.heading-container {
    position: absolute;
    width: 50%;
    z-index: 1;
    top: 0;
    color: white;
    font-family: 'Roboto Condensed';
    padding: 1.2rem 1.75rem;
    font-size: 26px;
    text-shadow: 0px 0px 10px rgb(21, 23, 31);
}
.otp-generator-card {
    padding: 10px;
    width: 100%;
    margin-bottom: 40px;
}
.card {
    border: 1px solid rgb(28, 68, 156);
}
.card-header {
    background-color: rgb(18, 74, 179);
    color: white;
}
.footer {
    position: absolute;
    bottom: 5px;
    width: 100%;
    text-align: center;
    color: rgb(233, 222, 222);
    font-size: 12px;
}

.login-container {
    position: relative;
    width: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
}
.login-inside {
    width: 500px;
    max-width: 600px;
    margin: auto;
    padding: 0px 30px;
}
.login-inside form {
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 3px rgb(51, 105, 167);
    padding: 30px;
}

.otp-info {
    text-align: center;
}
.otp-info h1 {
    font-family: 'Roboto Condensed';
}
.loading-otp {
    margin: 20px 0px;
}
.error-otp {
    color: red;
    text-align: center;
}
.final-otp {
    margin-bottom: 17px;
}
.return-home {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    color: rgb(233, 227, 227);
}