@keyframes background-scroll {
    00%{background-position: 0% 50%}
    50%{background-position: 100% 50%}
    100%{background-position: 0% 50%}
}

html,body {
    width: 100%;
    height: 100%;
}

body {
    background: linear-gradient(45deg,rgb(47, 108, 221), rgb(15, 150, 228), rgb(17, 131, 197),rgb(47, 108, 221) ,rgb(18, 206, 212));
    background-size: 400%;
    background-position: left;
    animation: background-scroll 14s ease infinite;
}
.secondary-outer-container {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
}
.content-container{
    position: absolute;
    width: 100%;
    top: 10px;
}
.heading-container {
    position: absolute;
    width: 100%;
    top: 0;
}
.otp-generator-card {
    padding: 10px;
    width: 100%;
}
.card {
    border: 1px solid rgb(28, 68, 156);
}
.card-header {
    background-color: rgb(18, 74, 179);
    color: white;
}