{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Lock Status | KyuKey</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="theme-color" content="rgb(47, 108, 221)" />
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Salsa&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        

        <link href="{% static 'css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet" media="screen">

        

        <link rel="stylesheet" href="{% static 'css/index.css' %}">
        <link rel="stylesheet" href="{% static 'css/secondary.css' %}">
    </head>
    <body>
        <div class="secondary-outer-container">
            <div class="heading-container">
                <div class="heading-inside">
                    <span>KyuKey</span>
                </div>
            </div>

            

            <div class="content-container">
                <nav class="navbar navbar-expand-md">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="collapsibleNavbar">
                      <div class="row">
                        <div class="col-6">
                            Hey, {{user}}
                        </div>
                        <div class="col-6">
                            <a href="/logout" class="btn btn-info">Logout</a>
                        </div>
                      </div>
                    </div>
                  </nav>
            </div>
            <div class="otp-generator-card">
                <div class="card">
                    <div class="card-header">
                        Generate OTP
                    </div>
                    <div class="card-body">
                        <form method="POST" action="">
                            {% csrf_token %}
                            <div class="form-group">
                                <label>Key Name:</label>
                                <input class="form-control" placeholder="Name" name="name" type="text">
                            </div>
                            <div class="form-group">
                                <label for="dtp_input1" class="col-md-2 control-label">Valid till:</label>
                                <div class="input-group date form_datetime col-md-5" data-date="1979-09-16T05:25:07Z" data-date-format="yyyy-mm-dd HH:ii" data-link-field="dtp_input1">
                                    <input class="form-control" size="16" type="text" name="validity" value="Select DateTime" readonly>
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                                </div>
                                <input type="hidden" id="dtp_input1" value="" /><br/>
                            </div>
                            <div class="form-group" style="text-align: center;">
                                <input type="submit" class="btn btn-warning" value="Generate OTP">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="footer">
                <div>&copy; KYUKEY 2020 - All Rights Reserved</div>
            </div>
            

        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap-datetimepicker.min.js' %}" charset="UTF-8"></script>
        <script type="text/javascript">
            $('.form_datetime').datetimepicker({
                format: 'yyyy-mm-dd hh:ii',
                startDate: '{{ lowerLimit }}'
            });
        </script>

        
        

    </body>
</html>