{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Lock Status | KyuKey</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="theme-color" content="rgb(47, 108, 221)" />
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Salsa&display=swap" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="{% static 'css/index.css' %}">
        <link rel="stylesheet" href="{% static 'css/secondary.css' %}">
    </head>
    <body>
        <script>
            setTimeout(
            function(){
                $.ajax({
                    method: "POST",
                    url: "../../hide_otp",
                    data: {
                        'csrfmiddlewaretoken':"{{csrf_token}}",
                        'id': "{{id}}"
                    },
                    success: function(data){
                        $(".loading-otp").hide();
                        $(".otp-info").fadeIn();

                    },
                    error: function(data) {
                        console.log('error');
                    }
                })
            }    
            ,1500);
            var count = 20;
            setInterval(
                function(){
                    if(count>0){
                        $(".count").text(count);
                        console.log(count);
                        count--;
                    }
                    else{
                        window.location.href = "../../";
                    }
                }    
            , 1000);
        </script>
        <div class="secondary-outer-container">
            <div class="heading-container">
                <div class="heading-inside">
                    <a href="../..">KyuKey</a>
                </div>
            </div>
            <div class="content-container">
                <nav class="navbar navbar-expand-md">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="collapsibleNavbar">
                      <div class="row">
                        <div class="col-6">
                            Hey, {{user}}
                        </div>
                        <div class="col-6">
                            <a href="/logout" class="btn btn-info">Logout</a>
                        </div>
                      </div>
                    </div>
                  </nav>
            </div>
            <div class="otp-generator-card">
                <div class="card">
                    <div class="card-header">
                        OTP successfully generated
                    </div>
                    <div class="card-body">
                        <div class="loading-otp" style="text-align: center;">
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        </div>
                        <div class="otp-info"  style="display: none;">
                            <div class="final-otp">
                                <h1>{{otp.content}}</h1>
                            </div>
                            <table class="table table-bordered table-hover">
                                <tbody>
                                    <tr>
                                        <td>Name:</td>
                                        <td>{{otp.name}}</td>
                                    </tr>
                                    <tr>
                                        <td>Valid Till:</td>
                                        <td>{{otp.valid_till}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="error-otp" style="display: none;">
                            Unable to fetch OTP, please try again
                        </div>
                    </div>
                </div>
                <div class="return-home">
                    Automatically returning to Home in <span class="count"></span> seconds.
                </div>
            </div>
            <div class="footer">
                <div>&copy; KyuKey 2020 - All Rights Reserved</div>
            </div>
        </div>
    </body>
</html>