{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Lock Status | KyuKey</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="theme-color" content="rgb(47, 108, 221)" />
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Salsa&display=swap" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="{% static 'css/index.css' %}">
        <link rel="stylesheet" href="{% static 'css/secondary.css' %}">
    </head>
    <body>
        <div class="secondary-outer-container">
            <div class="heading-container">
                <div class="heading-inside">
                    <a href="../">KyuKey</a>
                </div>
            </div>

            <div class="content-container">
                <nav class="navbar navbar-expand-md">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="collapsibleNavbar">
                      <div class="row">
                        <div class="col-6">
                            Hey, {{user}}
                        </div>
                        <div class="col-6">
                            <a href="/logout" class="btn btn-info">Logout</a>
                        </div>
                      </div>
                    </div>
                  </nav>
            </div>
            <div class="otp-generator-card">
                <div class="card">
                    <div class="card-header">
                        Lock History
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <th>
                                    <td>ID.</td>
                                    <td>Time</td>
                                    <td>Status</td>
                                </th>
                            </thead>
                            <tbody>
                                {% for entry in history %}
                                    <tr>
                                        <td>{{ entry.id }}</td>
                                        <td>{{ entry.time }}</td>
                                        <td>{{ entry.status }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="footer">
                <div>&copy; KyuKey 2020 - All Rights Reserved</div>
            </div>
        </div>
    </body>
</html>