{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Lock Status | KyuKey</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="theme-color" content="rgb(14, 77, 146)" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="{% static 'css/index.css' %}">
    </head>
    <body>
        <script>
                setInterval(
                function() {
                    $.ajax({
                        method: "POST",
                        url: "/",
                        data: {
                            'csrfmiddlewaretoken': '{{csrf_token}}',
                        },
                        success: function(data){
                            $('#loadingbutton').hide();
                            console.log(data);
                            if(data['status']=='u'){
                                $('.outer-container').css('background','rgb(63, 224, 208)');
                                $('meta[name=theme-color]').attr('content', 'rgb(63, 224, 208)');
                                $('#locked-container').hide();
                                $('#warning-container').hide();
                                $('#unlocked-container').fadeIn();
                                
                            }
                            else if(data['status']=='l'){
                                $('.outer-container').css('background','rgb(88, 139, 174)');
                                $('meta[name=theme-color]').attr('content', 'rgb(88, 139, 174)');
                                $('#unlocked-container').hide();
                                $('#warning-container').hide();
                                $('#locked-container').fadeIn();
                            }
                            else{
                                $('.outer-container').css('background','rgb(14, 77, 146)');
                                $('meta[name=theme-color]').attr('content', 'rgb(14, 77, 146)');
                                $('#unlocked-container').hide();
                                $('#locked-container').hide();
                                $('#warning-container').fadeIn();
                            }
                        },
                        error: function(data){
                            console.log("I'm a magical error that even bypassed the try-except :-)");
                            $('.outer-container').css('background','rgb(14, 77, 146)');
                            $('meta[name=theme-color]').attr('content', 'rgb(14, 77, 146)');
                            $('#unlocked-container').hide();
                            $('#locked-container').hide();
                            $('#warning-container').fadeIn();                
                        }
                    })
                }, 1000);
        </script>
        <div class="outer-container" id="backcontainer">
            <div class="heading-container">
                <div class="heading-inside">
                    <a href="">KyuKey</a>
                </div>
            </div>
            <div class="top-nav-container">
                <nav class="navbar navbar-expand-md">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="collapsibleNavbar">
                      <div class="row">
                        <div class="col-6">
                            Hey, {{user}}
                        </div>
                        <div class="col-6">
                            <a href="/logout" class="btn btn-info">Logout</a>
                        </div>
                      </div>
                      <div class="row" style="text-align: right; margin-top: 10px">
                        <div class="col-12">
                            <a href="/lock_history" class="btn btn-info">Lock History</a>
                        </div>
                      </div>
                    </div>
                  </nav>
            </div>

            <div id="loadingbutton">
                <button class="btn btn-warning" type="button" disabled>
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Loading...
                </button>
            </div>
            <div class="lock-status-container" id="locked-container" style="display: none;">
                <h2>LOCKED</h2>
                <a href="/generate_otp"><img class="locked-img" src="{% static 'images/locks/locked.png'  %}"></a>
                <br>
                <div>
                    Generate OTP
                </div>
            </div>
            <div class="lock-status-container" id="unlocked-container" style="display: none;">
                <img src="{% static 'images/locks/unlocked.png'  %}"><br>
                <h2>UNLOCKED</h2>
            </div>
            <div class="lock-status-container" id="warning-container" style="display: none;">
                <img src="{% static 'images/locks/warning.jpg' %}" style="box-shadow: 0px 0px 5px 2px rgb(82, 81, 81);border-radius: 100%;"><br>
                <h2>NETWORK ERROR</h2>
                <h6>Unable to fetch lock status</h6>
            </div>


            <div class="bottom-nav-container">
                <div class="row bottom-nav-row">
                        <a href="/generate_otp" class="col-6">
                                <img src="{% static 'images/locks/generate.png' %}"><br>
                                <div class="bottom-nav-desciption">Generate OTP</div>
                        </a>
                        <a href="/lock_history" class="col-6">
                                <img src="{% static 'images/locks/history.jpg' %}"><br>
                                <div class="bottom-nav-desciption">Lock History</div>
                        </a>
                    <!-- <div class="col-12 generate-otp-box">
                        <h2>Generate OTP</h2>
                        <form method="POST" action="/generate_otp">
                            {% csrf_token %}
                            <div class="form-group row">
                                <label class="col-xs-4 col-form-label">Key Name:</label>
                                <div class="col-xs-8">
                                    <input class="form-control col" placeholder="Name" name="name" type="text">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-xs-4 col-form-label">Valid Till:</label>
                                <div class="col-xs-8">
                                    <input mbsc-input data-input-style="box" data-label-style="stacked" id="demo-datetime" name="validity"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
                                <div class="col-sm-10">
                                  <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
                                <div class="col-sm-10">
                                  <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
                                </div>
                              </div>
                            <div class="form-group" style="text-align: center;">
                                <input type="submit" class="btn btn-primary" value="Generate OTP">
                            </div>
                        </form>
                    </div> -->
                </div>
            </div>
        </div>
    </body>
</html>